html,body {
  height:100%;
  background-color:#000;
}
.main-row {
  margin-left:0;
  margin-right:0;
}
.fill {
  width:100%;
  height:100%;
  min-height:100%;
  padding:0px;
}
.e_keyinput_decrypt {
  padding-bottom: 10px;
}

.btn-props{
  margin-bottom: 10px;
}

/* Sidebar/Navbar */

.sidebar-nav {
	  height:100%;
    min-height:100%;
	  background-color: #DCDCDC;
    padding-left: 30px;
}
.nav.nav-list a {
    padding: 5px 10px;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
}

.nav-header {
    color: darkgrey;
    font-weight: bold;
}

/* END Sidebar/Navbar */

#chat_content
{
  background: #fff;
  height:100%;
  min-height:100%;
}

#chat_header {
  background: grey;
  color: white;
  border-bottom: 1px solid black;
}
#repeating_content_area {
  max-height:80%;
  overflow:scroll;
}

.chat_message {
  padding:.5em;
  border-bottom: 1px dotted black;
}
#chat_footer {
  padding:2em;
  background-color: #C0C0C0;
  bottom:0;
}

#chat_footer input {
  width: 100%;
}

.e_keyinput_send {
  padding-bottom: 25px;
}

